.cover{
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.5);
        color:#fff;
        position:fixed;
        display:none;
        left: 0;
        top: 0;
        z-index:1000;
        div{
            width: 300px;
            height: 400px;
            position:absolute;
            bottom:50px;
            right: 50px;
            text-align: center;
            p{
                margin: 10px;
                font-size: 12px;
            }
        }
}
#header{
    border-bottom: 2px solid #ccc;
    .headerBottom{
        div:nth-child(3){float: right;}
    }
}
main{
    overflow: hidden;
    .mainl{
        float: left;
        box-sizing:border-box;
        height: 550px;
        padding: 60px 0;
    }
    .mainr{
        float: left;
        box-sizing:border-box;
        height: 550px;
        width: 380px;
        padding: 60px 0;
        p{
            color:#969696;
            font-size: 12px;
            span{
                float: right;
                a{
                    color:#E19619;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        .tab{
            padding-top: 24px;
            overflow: hidden;
            div{
                float: left;
                background: #FAFAFA;
                text-align: center;
                height: 36px;
                line-height: 36px;
                width: 190px;
            }
            .tab1{
                border-top-left-radius:5px;
                border-bottom-left-radius:5px;
            }
            .tab2{
                border-top-right-radius:5px;
                border-bottom-right-radius:5px;
            }
            .active{
                background: #C30D23;
                color:#fff;
            }
        }
        input{
            height: 36px;
            margin-top: 26px;
            width: 244px;
            background: #FDFDFD;
            border:1px solid #ccc;;
        }
        button{
            width:244px;
            margin:25px 0;
            border-radius:5px;
            height: 34px;
            background: #E9AD11;
            border:1px solid #E19619;
        }
        .yes{
            color:green;
            font-size: 12px;
        }
        .no{
            color:red;
            font-size: 12px;
        }
        
        div{
            p{
                color:#535353;
                margin-top: 34px;
            }
            h1{
                margin: 0;
                a{
                    display:inline-block;
                    height: 65px;
                    line-height: 65px;
                    width: 90px;
                    font-size: 12px;
                    padding-left: 50px;
                    color:#535353;
                    text-decoration: none;
                    background: url(../img/lglogin_3_weixin_login.png) no-repeat center left;
                    background-size: 40px 40px;
                }
                a:first-child{
                    background: url(../img/lglogin_3_qq_login.png) no-repeat center left;
                    background-size: 40px 40px;
                }
            }
        }
        .sign_1{
            #check{
                text-align: left;
                height: 12px;
                width: 20px;
                margin: 0;
                font-size: 12px;
            }
            span{
                span{
                    color:orange;
                    font-size: 10px;
                }
            }
            .num_1{
                width: 122px;
                margin-right: 20px;
            }
            .num_2{
                width: 122px;
                margin-right: 20px;
            }
            >a{
                display:inline-block;
                height: 38px;
                line-height: 36px;
                text-decoration: none;
                text-align: center;
                width: 102px;
                background: #FFE6A5;
                color:#E19619;
                border:1px solid #E19619;
                border-radius:5px;
                vertical-align:bottom;
            }
        }
    }

}
