main{
    font-size: 12px;
    h3{
        height: 55px;
        line-height: 55px;
        padding-left: 30px;
        font-weight: normal;
        color:#535353;
        font-size: 12px;
        a{
            color:#535353;
        }
    }
    h2{
        span{
            display: block;
            float: left;
            height: 40px;
            width: 400px;
            text-align: center;
            background: #eee;
        }
        .foucus{
            background: #ccc; 
        }
        font-size: 20px;
        height: 40px;
        font-weight: normal;
        line-height: 40px;
    }
    .zhuanchang{
        line-height: 40px;
        padding-left: 10px;
        height: 40px;
        >span:nth-child(1){
            display: block;
            float: left;
            margin-top: 10px;
            margin-right: 10px;
            width: 40px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border-radius:5px;
            border: 1px solid red;
            color:red;
        }
    }
    h5{

        height: 60px;
        line-height: 60px;
        border:1px solid #ccc;
        font-weight: normal;
        padding: 0 20px;
        color:#A3A3A3;
        a{
            float: right;
            color:#E19619;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    h4{
        color:#50C3D7; 
        i{
            display: block;
            float: left;
            width: 18px;
            height: 18px;
            margin-left: 20px;
            margin-right: 10px;
            font-size: 24px;
        }
        height: 60px;
        line-height: 60px;
        font-weight: normal;
        padding-left: 30px;
        a{
            color:#50C3D7; 
            font-size: 18px;

        }
    }
    table.jiesuan{
        width: 1198px;
    }
    table{
        margin: 10px 0;
        border-collapse: collapse;
        thead{
            tr{
                height: 35px;
            }
            background: #FAFAFA;
        }
        tr{
            border:1px solid #ccc;
            height: 70px;
            td{
                width: 130px;
                text-align: center;
                &:nth-child(2){
                    width: 380px;
                }
                &:nth-child(1){
                    width: 140px;
                    padding-left: 20px;
                    text-align: left;
                }
                button{
                    height:30px;
                    width:190px;
                }
            }
        }
    }
    table.carlist{
        tr{
            td{
                // background: #ccc;
                a{
                    img{
                        display: block;
                        float: right;
                        height: 46px;
                        width: 25px;
                    }
                }
                .btn{
                    width: 16px;
                    height: 16px;
                    font-size: 12px;
                    text-align: center;
                    margin: 5px;
                    padding: 0;
                    vertical-align: bottom;
                }
                &.qty{
                    span{
                        display: inline-block;
                        width: 68px;
                        border:1px solid #ccc;
                        height: 25px;
                        vertical-align: bottom;
                    }
                }
                &.total{
                    color:red;
                    font-weight: bold;
                    font-size: 14px;
                }
                &.send{
                    span{
                        background: skyblue;
                        color:#fff;
                        padding: 2px;
                        border-radius:5px;
                    }
                }
                &.pri{
                    color:#96A3C0;
                }
                &.name{}
            }
        }
    }
}